.headerContainer {
    width: 140%;
    color: white;
    background-color: #2f3542;

}

.headerContainer h1 {
    margin-top: 50px;
}

@keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.videoBackground {
    width: 80%;
    position: relative;
    height: 85vh;
    background-image: url('/images/headerPic.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.video {

    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideRightToLeft 15s linear infinite;
        /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.headerPicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
  }

.headerContainer2 {
    display: grid;
    grid-template-columns: repeat(4, 0.05fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* background-color: rgba(89, 98, 117, 0.2); 
    backdrop-filter: blur(5px);    */

}

.stem span {
    color: #C4E538;
}

.headerContainer2 h1 {
    margin-top: 50px;
}

.headerProgs {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.radioDiv {
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-left: 5px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.5);
}

.headerContainer3 {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kidsSkills {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bodyContainer1 {
    text-align: center;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.what {
    color: #8395a7;
}

.what p {
    font-size: large;
}

.what h1 {
    color: #3B3B98;
    font-size: 40px;

}

.enroll {
    width: 200px;
    height: 60px;
    background: #6ab04c;
    color: #fff;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 50px;
}

.enroll:hover {
    background: #10ac84;
    cursor: pointer;
}

.bodyContainer1 h1 {
    color: #3B3B98;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 30px;
}

.bodyContainer2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    margin-top: 60px;
}

.why {
    color: #596275;
}

.groupImage {
    width: 150px;
    height: 120px;
}

.whyAerobuddies {
    margin-top: 80px;
    row-gap: 20px;
}

.bodyBtn {
    background-color: #fa983a;
    color: #fff;
    font-size: larger;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bodyBtn:hover {
    background-color: #EE5A24;
}

.bodyContainer3 {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 150px);
    gap: 40px;
    margin-top: 40px;
}

.hello {
    height: 1500px;
    background-color: #8395a7;
}

.whatDetails {
    border: 0.5px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #596275;
    height: 200px;

}

.bodyContainer3 span {
    position: relative;
    margin-right: 500px;
}

.link {
    text-decoration: none;
    color: #596275;
    transition: 0.3s;
}

.link:hover {
    color: #fa983a;
    cursor: pointer;
}

.features {
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 150px;

}

.features2 {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.features img {
    margin: 5px;
}

.acolades {
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 150px;

}

.acolades img {
margin: 10px
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    /* .mainContainer {
        height: 2200px
    } */

    .headerContainer {
        font-size: 25px;
    }

    .headerContainer2 {
        
        display: grid;
        grid-template-columns: repeat(1, 0.2fr);
        
        top:46%
    }

    .headerContainer3 {
        
        text-align: center;
        top: 82%
    }

    .bodyContainer2 {
        display: flex;
        flex-direction: column;
        /* gap: 10px;
        margin-top: 50px; */
    }

    .bodyContainer3 {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: 50px 0 0 -20px;
        height: 1250px;

    }

    .whatDetails {
        height: auto;
        width: 290px
    }

    .whatDetails p {
        width: auto;
    }

    .bodyContainer3 span {
        display: flex;
        flex-direction: row;
        width: 100px;
    }

    .bodyContainer1 h1 {
        font-size: 30px;

    }

    .features,
    .features2,
    .acolades {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }
}

@media screen and (min-width: 581px) and (max-width: 992px) {

    .headerContainer2 {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr);
        grid-template-rows: auto;
        top: 44%
    }

    .headerContainer3 {
        text-align: center;
        top: 67%
    }

    .bodyContainer2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

    }

    /* .bodyContainer2 {
        display: flex;
        flex-direction: column;
        
    } */

    .bodyContainer3 {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: 100px;
        height: 1000px
    }

    .bodyContainer3 div {
        height: auto;
        width: 500px
    }

    .features,
    .acoldaes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }


}