.navContainer {
    background-color: #3B3B98;
    width: 100%;
    /* position: fixed; */
}

.navDiv {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* gap: 35px; */
    color: #dfe6e9;
    width: 100%;
    height: 120px;
    margin-left: 50px;
}

.logoDiv {
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logoDiv img {
    height: 250px;
    width: 220px;
}


.navLogin {
    margin-left: 100px;
}

.linkDiv {
    display: flex;
    margin-left: 100px;
}

.links {
    text-decoration: none;
    color: #dfe6e9;
    transition: 0.3s;
    margin-left: 30px;

}

.links:hover {
    color: #f1c40f;
}

.selectContainer {
    display: flex;
    align-items: center;

}

.selectContainer img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 65px;
}

.aboutUs {
    background-color: #3B3B98;
    font-size: 15px;
    color: #dfe6e9;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.aboutUs:hover {
    color: #f1c40f;
}

.aboutUs option {
    background-color: antiquewhite;
    width: 250px;
    color: #6c5ce7;
    cursor: pointer;

}

.navMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    /* background-color: cadetblue; */
    margin-left: 650px;
    position: absolute;
    top: 9.2%;
    color: #dfe6e9;
    padding: 10px;
}

.linkDivMobile {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #3B3B98;


}

.linksMobile {
    text-decoration: none;
    color: #dfe6e9;
    transition: 0.3s;

}

.linksMobile:hover {
    color: #f1c40f;
}

.selectContainerMobile {
    display: flex;
    align-items: center;

}

.linkDivMobile optgroup {
    margin-top: 70px;
    /* align-items: center; */
}

.selectContainerMobile img {
    margin-bottom: 40px;
    width: 20px;
    height: 20px;
    margin-left: 65px;
}

.aboutUsMobile {
    background-color: #3B3B98;
    font-size: 15px;
    color: #dfe6e9;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.aboutUsMobile:hover {
    color: #f1c40f;
}

.aboutUsMobile option {
    background-color: antiquewhite;
    width: 250px;
    color: #6c5ce7;

}

.menu {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    width: 30px;
    height: 25px;
    border-radius: 5px
}

.line {
    margin: 5px 4px;
    width: 70%;
    height: 2px;
    /* Adjust line thickness as needed */
    background-color: white;


}

@media screen and (min-width: 320px) and (max-width: 580px) {
    .linkDiv {
        display: none;
    }

    .menu {
        display: block;
        margin-left: auto;
        margin-right: 70px;
    }

    /* .navContainer {
        width: auto
    } */

    .navDiv {
        /* margin-right: -100px; */
        width: 100%
    }

    .logoDiv {
        margin-left: -70px;
    }


    .mobileDiv {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        background-color: #fff;
        color: #3B3B98;
        /* margin-left: 4px; */
        width: 39%;
        font-size: large;
        font-weight: bold;
        margin: 20px;
        
        
    }

    .linkDivMobile {
        position: fixed;
        top: 10%;
        left: 0;
        width: 35%;
        /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: #fff;
        color: #3B3B98;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1000;
        height: auto;
        margin-left: 70px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.5);
    }

     .links {
        color: #3B3B98;
     }

    .linkDivMobile select {
        background-color: #3B3B98;
        color: #fff;
        border: none;
        width: 150px;
        font-weight: bold;
        font-size: medium;
    }

    .cancelBtn {
        padding: 5px;
        margin-top: 10px;
        width: 100px;
        height: 40px;
        background-color: #C4E538;
        color: #3B3B98;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }

    .cancelBtn:hover {
        background-color: #badc58;
        color: #fff;
    }

    .aboutUsMobile option {
        width: 50px;
    }

    .linksMobile {
        transition: 0.3s;
    }

    .linksMobile:hover {
        color: #f1c40f;
        cursor: pointer;
    }

}

@media screen and (min-width: 581px) and (max-width: 992px) {
    .linkDiv {
        display: none;
    }

    .menu {
        display: block;
        margin-left: auto;
        margin-right: 120px;
    }

    .navDiv {
        /* margin-right: -100px; */
        width: 100%
    }

    .mobileDiv {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        background-color: #fff;
        color: #3B3B98;
        /* margin-left: 4px; */
        width: 39%;
        font-size: large;
        font-weight: bold;
        margin: 20px;
        
    }

    .linkDivMobile {
        position: fixed;
        top: 10.5%;
        left: 0;
        width: 50%;
        /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: #fff;
        color: #3B3B98;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1000;
        height: auto;
        margin-left: 70px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.5);

    }

     .links {
        color: #3B3B98;
     }

    .linkDivMobile select {
        background-color: #3B3B98;
        color: #fff;
        border: none;
        width: 150px;
        font-weight: bold;
        font-size: medium;
    }

    .cancelBtn {
        padding: 5px;
        margin-top: 10px;
        width: 100px;
        height: 40px;
        background-color: #C4E538;
        color: #3B3B98;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }

    .cancelBtn:hover {
        background-color: #badc58;
        color: #fff;
    }

    /* .mobileDiv {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        background-color: #3B3B98;
        
        width: 26%;
    } */



    /* .linkDivMobile select {
        background-color: #3B3B98;
        color: #fff;
        border: none;
        width: 150px;
    } */

    .aboutUsMobile option {
        width: 50px;
    }

    /* .linkDivMobile {
        position: fixed;
        top: 10%;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1000;
        height: auto;
        margin-left: 60px;
        padding: 10px;

    } */
}