.aboutUsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.aboutUsContainer h1 {
    color: #3B3B98;
    font-size: 30px;
    font-weight: bold;
}

.aboutUsContents {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 150vh;
    
}
.aboutUsContents2 {
    max-width: 800px; 
    padding: 20px;
    text-align: center;
}

.aboutUsContents2 p {
    text-align: left;
    margin-top: 10px;
    color: #8395a7
}

.videoBackground {
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: #57606f
    
}

.video {
    
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    .aboutUsContents {
        display: block;
        justify-content: center; 
        align-items: center; 
        height: 300vh;
        
    }

    .aboutUsContents2 {
        width: 100%; 
        text-align: center;
        justify-content: center;
        
    }
    
    .aboutUsContents2 p {
        text-align: center;
        width: 100%; 
    }

    

    .videoBackground {
        width: 100%;
        /* margin: 20px; */
        height: 200px;
        background-color: #8395a7;
        
    }

    
}

@media screen and (min-width: 581px) and (max-width: 992px) {

    .aboutUsContainer h1 {
        margin-top: 40px;
    }

    .videoBackground {
        width: 100%;
        /* margin: 20px; */
        height: 400px;
        background-color: #8395a7;
        
    }


}