.newsroom {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.newsroomContainer {
    margin: 50px 0 0 50px;
    
  
}

.newsroom h1 {
    color: #3B3B98;
    font-size: 40px;
    margin-top: 35px;
    font-weight: bold;
}

.contents1 {
    width: 100%;
    
}

.carouselContainer {
    width: 70%;
    height: auto;
    background-color: #dfe6e9;
    margin-left: 150px;
    color: aliceblue;
}

.itemContainer img {
    height: 100%;
    /* width: 100px */
}

.articlesContainer {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    width: 100%;
    border: 1px solid #dfe6e9;
    /* margin: 50px 0 0 10px; */
}

.articleDiv {
    
    width: 100%;
    height: 400px;
    /* border: 1px solid #dfe6e9; */
    
}

.articleDiv h4 {
    padding: 10px;
    margin: 120px 0 0 100px;
    width: 50%
}

.articleDiv iframe {
    height: 100%;
    width: 100%
}

.contents1 h2 {
    color: #596275;
    margin-top: 35px;
    
    
}

.contents1 p {

    color: #596275;
    font-size: larger;
    width: 800px;
    text-align: left;
    margin-left: 300px;
    margin-top: 35px;
}

/* .contents2 {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.gridContents {
    
    background-color: #95a5a6;
    width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.3ms;
} */



.gridContents:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.gridContents h1 {
    font-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    .carouselContainer {
        width: 300px;
        height: 160px;
        
        margin-left: -40px;
        color: aliceblue;
    }

    .articleDiv  h4 {
        margin: 10px 0 0 10px;
    }

    /* .articlesContainer {
        display: flex;
        
        
        border: 1px solid #dfe6e9;
        
    } */

    .articleDiv {
    
        width: 100%;
        height: 400px;
        /* border: 1px solid #dfe6e9; */
        
    }

    .itemContainer img {
        height: 150px;
        width: 200px
        /* margin-top: 50px; */
    }

}

@media screen and (min-width: 581px) and (max-width: 992px) {

    .carouselContainer {
        width: 95%;
        height: 300px;
        margin-left: -10px;
    }

    .itemContainer img {
        height: 300px;
        width: 100%;
        /* margin-top: 50px; */
    }

}