.schoolsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
        
}

.schoolsContainer h1 {
    color: #3B3B98;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 35px;
}

.schoolsContainer1 {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 0 0 40px;
       
}

.schoolsContainer2 {
    display: flex;
    text-align: center;
    width: 80%;
    margin: 50px 0 0 100px;
}

.schoolsContents {
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 10px;
       
}

.schoolsContents img {
    width: 250px;
    height: 250px;
    margin-left: 40px
}

.products {
    margin-left: 100px;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 15px;
    margin: 30px 
}

.productsMiniContainer {
    display: flex;
    width: 550px;
    height: 200px;
    border: 1px solid #CAD3C8;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.productImg {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center
}

.productImg img {
    width: 100%;
    height: 100%
}

.productDetails {
    padding: 10px;
    color: #8395a7
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    .schoolsContainer1 {
        display:flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        justify-content: center;
        margin: 10px; 
    }

    .schoolsContainer h1 {
        color: #3B3B98;
        margin-top: 40px;
        font-size: 30px;
        width: 300px;  
    }

    .schoolsContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: 50px 0 0 0;  
    }

    .schoolsContents {
        width: 100%;
        height: 150px;    
    }

    .schoolsContents img {
        width: 140px;
        height: 140px;
        margin-right: 50px;
    }

    .products {
        margin-left: 2px;
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-left: -1px;   
    }

    .productsMiniContainer {   
        width: 300px;
        height: 140px;
    }

    .productDetails {
        width: 100%;
    }

    .productImg {
        background-color: #CAD3C8;
    }

}

@media screen and (min-width: 581px) and (max-width: 992px) {

    .schoolsContents {
        width: 100%;
        height: 150px;    
    }

    .schoolsContents img {
        width: 140px;
        height: 140px;
        margin-right: 50px;
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 300px;
        margin-left: -1px;    */
    }

    .productsMiniContainer {   
        width: 450px;
        height: 200px;
    }
    
}

