
.programsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.heading {
    color: #3B3B98;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 35px;
}

.contents {
    text-align: center;
}

.programsDetails {

    color: #596275;
    font-size: larger;
    width: 800px;
    text-align: left;
    margin-left: 300px;
    margin-top: 35px;
}

.programsContainer2 {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr); 
    grid-template-rows: repeat(4, auto); 
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;

}

.learningPrograms {
    background-color: #95a5a6;
    width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.1s;   
}

.linksPrograms {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-weight: bolder;
    
}

.learningPrograms:hover {
    transform: scale(1.05);
    background-color: #3B3B98;
    
    color: #C4E538;
    cursor: pointer;
}

.learningPrograms h1 {
    font-size: 25px;
    margin-top: 50px;
}

.learningPrograms img {
    width: 100px;
    height: 100px;
    margin-left: 80px;
}


@media screen and (min-width: 320px) and (max-width: 580px) {

    .programsDetails {
        display: flex;
        color: #596275;
        font-size: large;
        width: 250px;
        text-align: center;
        margin-left: 24px;
        margin-top: 35px;
    }

    .programsContainer2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 40px 0 0 34px;
        
    
    }
}

@media screen and (min-width: 581px) and (max-width: 992px) {


    .programsContainer2 {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr); 
        grid-template-rows: auto; 
        gap: 10px;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
    
    }

    .programsDetails {
        display: flex;
        color: #596275;
        font-size: large;
        width: 500px;
        text-align: center;
        margin-left: 24px;
        margin-top: 35px;
    }
}