.teamContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/* .teamContents {
    height: 120vh;
} */

.teamContents h1 {
    color: #3B3B98;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
}

.teamMembers {
    margin: 40px 0 0 100px;
    display: flex;
    text-align: center;
    align-items: center;
    

}

.member {
    width: 500px;
    height: 450px;
    background-color: #dfe6e9;
    text-align: center;
    padding: 10px;
    
}

.member img {
    width: 350px;
    height: 350px;
}

.memberInfo {
    width: 500px;
    height: 450px;
    /* background-color: #dfe6e9; */
    text-align: center;
    margin-left: 60px;
    padding: 10px;
    color: #596275;
}

.memberInfo h2 {
    font-size: 30px;
    
}

.liner {
    width: 85%;
    height: 2px;
    margin: 50px 0 0 100px;
    /* Adjust line thickness as needed */
    background-color: #b2bec3;
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    .teamContents {
        margin-right: 50px;
    }

    .teamContents h1 {
        margin-left: 40px;
    }

    .teamMembers {
        margin: 40px 0 0 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center; 
    
    }

    .member {
        width: 300px;
        height: auto;
        background-color: #dfe6e9;
        text-align: center;
        padding: 10px;
        
    }

    .member img {
        width: 230px;
        height: 240px;
    }

    .memberInfo {
        width: 270px;
        height: 250px;
        /* background-color: #dfe6e9; */
        text-align: center;
        margin-left: 50px;
        padding: 10px;
        color: #596275;
    }

    .memberInfo h2 {
        margin-right: 40px;
        font-size: 27px;
    }

    .liner {
        width: 85%;
        height: 2px;
        margin: 50px 0 0 40px;
        /* Adjust line thickness as needed */
        background-color: #b2bec3;
    }
    
}

@media screen and (min-width: 581px) and (max-width: 992px) {

    .teamMembers {
        margin: 40px 0 0 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .teamContents {
        margin-right: 50px;
        
    }

    .liner {
        
        margin-left: 60px;
        
    }

}